{% extends "_layout.html" %}

{% block title %}
  Nextagram - {{user.username }}
{% endblock %}

{% block content %}
<div id="user-show">
  <div class="row">
    <div class="left-grid col-md-4 border-right">
      <img
        src="https://ui-avatars.com/api/?name={{
          user.username
        }}"
        class="rounded-circle z-depth-0"
        alt="avatar image"
        height="150"
      />
      <h4 class="username mt-3">{{user.username}}</h4>
      <p class="text-right text-muted">
        <span class="mx-1"><strong>{{user.posts.count()}}</strong> Post</span>
        <span class="mx-1"><strong id="followers-count">{{user.followers | length}}</strong> Followers</span>
        <span class="mx-1"><strong id="followings-count">{{user.followings | length}}</strong> Follows</span>
      </p>
      {% if current_user.username != user.username %}
        {% if current_user.is_following(user) %}
          <a id="{{user.id}}" href="{{url_for('users.unfollow', id=user.id)}}" class="unfollow-btn btn btn-outline-info">Unfollow</a>
        {% else %}
          <a id="{{user.id}}" href="{{url_for('users.follow', id=user.id)}}" class="follow-btn btn btn-info">Follow</a>
        {% endif %}
      {% endif %}
      <div class="info">
        <label class="text-accent text-muted mb-0">Email</label>
        <h5 class="info-value">{{user.email}}</h5>
        <label class="text-accent text-muted mb-0">Last Login</label>
        <h5 class="info-value">{{user.updated_at.strftime('%b %-d, %Y at %-I:%M%p')}}</h5>
      </div>
      <blockquote class="blockquote">
        <hr>
        <img src="{{ url_for('static', filename='images/quote.svg')}}" >
        Instagram is life. I can't live without it...
      </blockquote>
    </div>

    <div class="right-grid col-md-8 bg-white">
      {% if user.posts.count() %}
      <div class="grid">
        {% for post in user.posts %}
          <div class="grid-item {{ 'grid-item--height2' if post.id % 2}}">
            <img src="{{post.image_full_url}}" />
          </div>
        {% endfor %}
      </div>
      {% else %}
        <div class="p-4">
          <h4 class="text-center mb-5">Oops.. {{user.username}} hasn't posted anything yet!</h4>
          <img class="full-page-illus" src="{{ url_for('static', filename='images/undraw_empty.svg')}}" alt="">
        </div>
      {% endif %}


    </div>
  </div>
</div>
{% endblock %}