{% extends "_layout.html" %}

{% block title %}
  Nextagram - {{user.username }}
{% endblock %}

{% block content %}
<div id="user-show">
  <div class="row no-gutters">
    <div class="left-grid col-md-4 border-right">
      {% include 'users/_profile_sidebar.html' %}
    </div>

    <div class="right-grid col-md-8 bg-white">
      {% if user.posts.count() %}
        <div id="grid-menu" class="text-right">
          <button id="edit-btn" class="btn btn-outline-danger">
            <img src="{{url_for('static', filename='images/tools.svg')}}" />
            <span>Edit</span>
          </button>
        </div>
        <div id="grid-container" class="grid d-flex flex-wrap justify-content-center">
          {% for post in user.posts %}
            <div class="img-grid">
              <div class="img">
                <a href="{{url_for('posts.destroy', id=post.id)}}" class="btn btn-danger btn-sm delete-btn">X</a>
                <img src="{{post.image_full_url}}" />
              </div>
              <a class="btn btn-sm btn-outline-info" href="{{url_for('endorsements.new', post_id=post.id)}}">Endorse</a>
              <span class="text-danger">
                Collected ${{post.get_total_amount()}}
              </span>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="p-4">
          <h4 class="text-center mb-5">Oops.. {{user.username}} hasn't posted anything yet!</h4>
          <img class="full-page-illus" src="{{ url_for('static', filename='images/undraw_empty.svg')}}" alt="">
        </div>
      {% endif %}
    </div>
  </div>
</div>
<script>
  $('#edit-btn').on('click', function() {
    $('#grid-container').toggleClass('edit-mode')
    $('#edit-btn span').text(
      $('#edit-btn span').text() === 'Edit' ? 'Cancel' : 'Edit'
    )
  })
</script>
{% endblock %}