#login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 57px);

  .card {
    width: 19rem;

    input::placeholder {
      color: #bdbdbd;
    }

    .auth-btn {
      text-decoration: none;
      color: inherit;
      &:hover {
        cursor: pointer;
        color: $text-gray;
        img {
          transform: scale(1.1);
        }
      }
    }
  }

  hr {
    position: relative;

    &::before {
      content: 'OR';
      background: white;
      top: -11px;
      position: absolute;
      left: 50%;
      width: 50px;
      text-align: center;
      transform: translateX(-50%);
    }
  }
}
