html {
  font-size: 17px;
}

body {
  font-family: 'Indie Flower', cursive;
  background: #fafafa;
  letter-spacing: 0.8px;
}

:focus {
  outline: 0;
}

.font-secondary {
  font-family: 'Raleway', sans-serif !important;
}

.text-accent {
  color: $primary-accent !important;
}

.full-page-illus {
  display: block;
  width: 80%;
  max-width: 500px;
  margin: auto;
}

#upload-modal {
  #add-file-illus {
    height: 120px;
  }
  .dropzone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    border: dashed 3px $gray-1;

    .dz-preview .dz-image {
      height: 120px;
      width: 120px;
    }
  }
}

#add-post-nav-item {
  &:hover {
    transform: scale(1.05);

    img {
      transform: rotate(15deg);
    }
  }
  img {
    height: 15px;
    margin: 0 5px;
  }
}
