#user-show {
  #grid-menu {
    z-index: 5;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    button {
      margin-left: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $primary-accent;
      &:hover {
        transform: scale(1.05);
      }
      img {
        height: 15px;
        margin-right: 6px;
      }
    }
  }

  .right-grid {
    overflow-y: auto;
    padding: 1em;
    min-height: $content-height;

    .img-grid {
      position: relative;

      .delete-btn {
        display: none;
        border-radius: 50%;
        z-index: 10;
        position: absolute;
        top: 5px;
        right: 20px;
        cursor: pointer;
        &:hover {
          background: $primary-accent;
          color: white;
        }
      }

      img {
        display: block;
        margin: 15px 15px 15px 0;
        height: 200px;
        border-radius: 4px;
      }
    }

    .grid.edit-mode {
      .delete-btn {
        display: block;
      }
      .img-grid:nth-child(even) .img {
        animation-name: keyframes1;
        animation-duration: (random(10) + 20) /100 + s;
        animation-iteration-count: infinite;
        transform-origin: 50% 10%;
      }

      .img-grid:nth-child(odd) .img {
        animation-name: keyframes2;
        animation-duration: (random(8) + 22) /100 + s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        transform-origin: 30% 5%;
      }
    }
  }

  .left-grid {
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em 2em;

    @media (min-width: $md-break) {
      min-height: $content-height;
    }

    .username {
      letter-spacing: 2px;
    }

    .blockquote {
      position: relative;
      margin-top: 50px;
      margin-left: 30px;
      color: $text-gray;

      hr {
        border-top: solid 2px $primary-accent;
        // border-top: solid 3px $gray-1;
        width: 50%;
        margin: 0;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
      }

      img {
        position: absolute;
        left: -20px;
        top: -50px;
        height: 80px;
        z-index: -1;
      }
    }

    .info {
      margin-top: 2.5em;
      margin-bottom: 2.5em;
      .info-value {
        margin-bottom: 1em;
        // color: $text-gray;
      }
    }
  }
}

@keyframes keyframes1 {
  0% {
    transform: rotate(-1deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: rotate(1.5deg);
    animation-timing-function: ease-out;
  }
}

@keyframes keyframes2 {
  0% {
    transform: rotate(1deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: rotate(-1.5deg);
    animation-timing-function: ease-out;
  }
}
