<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/insta.png') }}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Indie+Flower|Raleway"
      rel="stylesheet"
    />

    {% assets "home_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% assets "home_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom">
      <a class="navbar-brand" href="{{ url_for('home') }}">
        <img
          src="https://img.icons8.com/ios/420/instagram-new.png"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        Nextagram
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item d-flex justify-content-center align-items-center mx-2">
            <a class="nav-link text-accent" href="/users/{{current_user.username}}">Upload</a>
          </li>
          <li class="nav-item d-flex justify-content-center align-items-center mx-2">
            <a class="nav-link" href="/users/{{current_user.username}}">My Profile</a>
          </li>
          <li class="nav-item d-flex justify-content-center align-items-center mx-2">
            <a id="troll-button" class="nav-link" href="#">Help</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <img
                src="https://ui-avatars.com/api/?name={{
                  current_user.username
                }}"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="40"
              />
            </a>
            <div
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="navbarDropdown"
            >
              <a class="dropdown-item" href="{{url_for('users.edit', id=current_user.id)}}">Edit Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url_for('sessions.destroy') }}"
                >Log Out</a
              >
            </div>
          </li>
        </ul>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div
      class="alert alert-{{ 'danger' if category == 'message' else category }} font-secondary text-center"
      role="alert"
    >
      {{ message }}
    </div>
    {% endfor %} {% endif %} {% endwith %} {% block content %} {% endblock %}
  </body>
</html>
